#Scientific Library
dataclasses
numpy
scikit-learn
matplotlib
pandas
seaborn
jupyter

#torch Related
torch
torchvision

# code-test
black
nose
nose-watch
mypy
PyYAML
argh
fun
rope
pylint
rope

#Eungbean's
albumentations
pytorch-lightning
pytorch-lightning-bolts
yacs
comet_ml
torchgan
